body{
	background-image: url("../images/squared_metal.png");
	background-repeat: repeat;

 }

/* login
and
register
 */
.card{
	margin-top: 40px;
}
.form-header{
	padding: 10px 0 5px;
    color: white;
    text-align: center;
    }
#role-dropdown{
    margin-top: 16px
}

#role-dropdown .fa-user{
    position: absolute;
    width: 3rem;
    font-size: 2rem;
}

#role-dropdown select{
    margin-left: 46px;
    color: #757575;
    height: 37px;
    border-radius: 5px;
}
 #directorate-dropdown{
    margin-top: 16px
 }
#directorate-dropdown .fa-building{
    position: absolute;
    width: 3rem;
    font-size: 2rem;
}

#directorate-dropdown select{
    margin-left: 46px;
    color: #757575;
    height: 37px;
    border-radius: 5px;
}

#btn-reg{
    background-color: #00695c;
}
#btn-reg:hover{
    background-color: #00695c;
}

#btn-login{
    background-color: #00695c;
}
#btn-login:hover{
    background-color: #00695c;
}

/* navigation
bar
 */

.navbar{
    background-color: rgb(6, 106, 117);
}

/* ul.nav li a{
    color: white;
    font-weight: 300;
    font-size: 18px;
} */

.navbar-header a{
    color: white;
}

/* 
Footer

 */

footer{
    margin-left: 0%;
    margin-top: 0px;
    padding-top: 0px;
    background-color: rgb(6, 106, 117);
    color: #fff;
    display: inline-block;
    width: 100%;
}

#footer { 
    height: 50px;
 }

footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255,255,255,.8);
    text-align: center;
}

footer .container-fluid{
   padding-right: 0rem;
   padding-left: 0rem;
    margin-right: auto;
    margin-left: auto;
}
footer a {
    color: #fff;
}

/* Files
Table
 */

 #viewfiles-wrap{
    background-color: white;
    padding: 25px;
 }

#viewfiles-wrap h3{
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
}

.createButton a{
    float: right;
}

p.submit a{
    background-color:rgb(6, 106, 117);
    color: white;
    font-weight: 400;

}

table thead{
    background-color: #f5f5f5;
}

div.dataTables_length label{
    padding: 10px;
    font-size: 16px;
}

div.dataTables_filter label {
    font-weight: normal;
    font-size: 16px;
    white-space: nowrap;
    text-align: left;
}
div.dataTables_filter input {
    border-radius: 5px;
    margin-left: 0.5em;
    display: inline-block;
    }

/* form */
#doc_info{
    background-color: white;
    padding: 25px;
}
.form-group label{
    font-size: 16px;
    color: #757575;
}
#request-dropdown{
    margin-top: 16px
}

#request-dropdown .fa-user{
    position: absolute;
    width: 3rem;
    font-size: 2rem;
}

#request-dropdown select{
    margin-left: 46px;
    color: #757575;
    height: 37px;
    border-radius: 5px;
}
.form-group btn{
    width: 100px;
    border-radius: 5px;
    background-color: rgb(6, 106, 117);
}
.form-heading{
    text-align: center;
    padding-top: 6px;
}

#submit-btn{
      width: 20%;
    margin-left: 362px;
    background-color: rgb(6, 106, 117);
    color: #f7f7f7;
    border: 0px;
    /* padding: 9px; */
    /* margin-top: 10px; */
    cursor: pointer;
    border-radius: 3px;
}
#submit-btn:hover{
      background-color: rgb(6, 106, 117);
      transition:all  0.4s ease-out;
  -webkit-transition:all  0.4s ease-out;
  -moz-transition:all  0.4s ease-out;
}

textarea{
    height: 9rem;
    border-radius: 5px;
    border-color: #757575;

}

#filerequests{
    background-color: #fff;
    padding: 25px;
}

#filerequests h3{
     font-family: 'Roboto' sans-serif;
    font-weight: 500;
}

.adminnav{
    float:right;
    padding: 10px;
    cursor: pointer;
    list-style-type: none;
    font-size: 19px;
    color: white;
    font-weight: 300;
}
.navbar{
    margin-bottom: 0;
}

.form-group{
    padding: 10px;
}
.chosen-position{
    margin-left: 10px;
}
li.tablist a{
    color: #333;
     font-weight: 300;
    font-size: 18px;
}

.leftsidebar {
    height: 100%;
    background-color: #fff;
    transition: 0.5s;
}

.leftsidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #333;
    display: block;
    transition: 0.3s;
}

.leftsidebar a:hover, .offcanvas a:focus{
    color: #818181;
}
.leftsidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}