*, *:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialised;

  margin: 0 auto;
}

body{
background-image: url("../images/squared_metal.png");
background-repeat: repeat;
  position: relative;
  min-height: 800px;
  height: 100%;
  overflow: auto;
  /* overflow: ; */
}
.blue{
  background: blue ;
}

.red{ background: red; }

.green{
  background: green;
}
.container{
   min-height: inherit;
  height: 100%;
width:100%;
margin: 0 auto;
background-color: #DCEAF3;
}
.actions{
  /* background: red; */
  padding: 6px;
  width: 40px;
  height: 40px;
  color: #eee;
  border-radius: 14%;
}
#container{
   min-height: inherit;
  height: 100%;
width:100%;
margin: 0 auto;
background-color: #DCEAF3;
}


header{
  margin-top: 10px;
  width:100%;
  height:167px;
  padding: 20px;
  /* margin: 0 auto; */   
  background: -moz-linear-gradient(left, rgba(147,184,189,0) 0%, rgba(147,184,189,0.8) 20%, rgba(147,184,189,1) 53%, rgba(147,184,189,0.8) 79%, rgba(147,184,189,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(147,184,189,0)), color-stop(20%,rgba(147,184,189,0.8)), color-stop(53%,rgba(147,184,189,1)), color-stop(79%,rgba(147,184,189,0.8)), color-stop(100%,rgba(147,184,189,0)));
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: -o-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: -ms-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
}

header h1{
   font-size: 30px;
   margin-top: 20px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    text-align: center;
   
}


header a{
  text-decoration: none;
  float: right;
  cursor: pointer;
   font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
   color: blue;

}

p#header{
   text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
}
.ngao {
  widows: 100px;
  height: 100px;
  float: left;
  padding-left: 17px;
  display: inline-block;

}
.ngao img{
  width:100px;
  height:100px;

}
.logo{
  width: 100px;
  height: 100px;
  float: right;
}
.logo img{
  width:100px;
  height:100px;
}

.footer{
  padding:30px  ;
    width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgb(6, 106, 117);
  border: solid 1px #fff;
    /* width: 1300px; */
   margin-top: 10px;
    height: 45px;
    /* overflow: hidden; */
}

.footer p{

    float: left;
    color: #fff;
    text-decoration: none;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 13px;
    /* margin-top: 14px; */
    /* margin-left: 19px; */
}

.footer ul{
  /* margin-right: 19px; */
      /* margin-top: 14px; */
    float: right;
}


.footer ul li{
  display: inline;
    margin-left: 3px;
    margin-right: 2px;
}

.footer ul li:after{
  content: "|";
    margin-left: 5px;
    color: #fff;
    font-weight: bold;
}

.footer ul li a{
      color: #fff;
    text-decoration: none;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 13px;
}

#role-dropdown{
    float: left;
  }
#role-dropdown h3{
  display: inline-block;
   font-size: 20px;
    color: rgb(6, 106, 117);
    padding: 2px auto;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
}

#role-dropdown select{
  font-size: 18px;
   font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
   border: 1px solid #eee;
}

/*directorate;*/

#directorate-dropdown h3{

    display: inline-block;
      font-size: 20px;
    color: rgb(6, 106, 117);
    padding: 2px auto;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;

}

#directorate-dropdown select{
  font-size: 18px;
   font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
   border: 1px solid #eee;
}

#form-wrap{
      margin-top: 20px;
    width: 600px;
    /* width: 80rem; */
    background-color: #fff;
    background-color: #f7f7f7;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 0 0 1px #000;
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
}


#form-wrap h1 {

	    font-size: 30px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

 #form-wrap h1:after{
	    content: ' ';
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 10px;
	background: -moz-linear-gradient(left, rgba(147,184,189,0) 0%, rgba(147,184,189,0.8) 20%, rgba(147,184,189,1) 53%, rgba(147,184,189,0.8) 79%, rgba(147,184,189,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(147,184,189,0)), color-stop(20%,rgba(147,184,189,0.8)), color-stop(53%,rgba(147,184,189,1)), color-stop(79%,rgba(147,184,189,0.8)), color-stop(100%,rgba(147,184,189,0)));
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: -o-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: -ms-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
}

.form-group{
  margin-top: 12px;
}
#viewfiles-wrap{

      margin-top: 15px;
      width: 90%;
    background-color: #fff;
    background-color: #f7f7f7;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 0 0 1px #000;
    -webkit-box-shadow: 0 0 1px #000;
}

#viewfiles-wrap h1{
    font-size: 30px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

#viewfiles-wrap h1:after{
  content: ' ';
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 10px;
  background: -moz-linear-gradient(left, rgba(147,184,189,0) 0%, rgba(147,184,189,0.8) 20%, rgba(147,184,189,1) 53%, rgba(147,184,189,0.8) 79%, rgba(147,184,189,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(147,184,189,0)), color-stop(20%,rgba(147,184,189,0.8)), color-stop(53%,rgba(147,184,189,1)), color-stop(79%,rgba(147,184,189,0.8)), color-stop(100%,rgba(147,184,189,0)));
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: -o-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: -ms-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
}
#table1{
  /* width: 1000px; */
  /* height: 50px; */
  /* overflow-y: auto; */
}

tbody{
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table th {
   font-size: 13px;
    color: rgb(6, 106, 117);
    padding: 9px 1px 0  4px;
    font-family:sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    text-transform: uppercase;
}
table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
     font-family: sans-serif;
      color: #1d3c41;
}

th, td {
   padding: 3px ;
   font-size: 13px;
}

table a{
  
   text-decoration: none;
   font-family: arial;
        color: blue;

      
}
.submit a{
   margin-top: 10px;
  margin-bottom: 10px;
  background-color: #3f9edd;
    color: #f7f7f7;
    cursor: pointer;
    text-decoration: none;
     font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
     font-size: 20px;
    color: #1d3c41;
     padding: 7px 14px;
    width: 30%;
    display: block;
    text-align: center;

}
.submit a:hover{
  background-color: #2980b9;
  color: #ffffff;
  transition:all  0.4s ease-out;
  -webkit-transition:all  0.4s ease-out;
  -moz-transition:all  0.4s ease-out;

}
input{
      width: 100%;
    border-radius: 4px;
    border-color: #eee;
    height: 30px;
    outline: none;
    -webkit-appearance:none;
        padding: 10px;
        

}

input[type="submit"]{
      width: 30%;
    background-color: #3f9edd;
    color: #f7f7f7;
    border: 0px;
    padding: 0px;
    margin-top: 10px;
    cursor: pointer;

}
input[type="submit"]:hover{
  background-color: #2980b9;
  color: #ffffff;
  transition:all  0.4s ease-out;
  -webkit-transition:all  0.4s ease-out;
  -moz-transition:all  0.4s ease-out;
}
#form-wrap label{
     font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
        color: #1d3c41;
        display: block;
        margin-top: 17px;

}

#request-dropdown h3{
    display: inline-block;
      font-size: 20px;
    color: rgb(6, 106, 117);
    padding: 2px auto;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;

}

#request-dropdown select{
  font-size: 18px;
   font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
   border: 1px solid #eee;
}

/* login 
    page
 */
.panel-default{
    width: 400px;
    left: 50%;
    top: 37%;
    margin-top: 20px;
    background-color: #f7f7f7;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 0 0 1px #000;
    -webkit-box-shadow: 0 0 1px #000;

 }

.panel-heading{
     font-size: 20px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

.panel-heading:after{
   content: ' ';
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 10px;
  background: -moz-linear-gradient(left, rgba(147,184,189,0) 0%, rgba(147,184,189,0.8) 20%, rgba(147,184,189,1) 53%, rgba(147,184,189,0.8) 79%, rgba(147,184,189,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(147,184,189,0)), color-stop(20%,rgba(147,184,189,0.8)), color-stop(53%,rgba(147,184,189,1)), color-stop(79%,rgba(147,184,189,0.8)), color-stop(100%,rgba(147,184,189,0)));
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: -o-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: -ms-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
}

.panel-body{
  font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
    color: #1d3c41;
    margin-top: 17px;
}

.form-group button{
      width: 30%;
    background-color: #3f9edd;
    color: #f7f7f7;
    border: 0px;
    padding: 9px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}
.form-group button:hover{
   background-color: #2980b9;
  color: #ffffff;
  transition:all  0.4s ease-out;
  -webkit-transition:all  0.4s ease-out;
  -moz-transition:all  0.4s ease-out;
}
a.btn-link {
      text-decoration: none;
    font-size: 12px;
    color: blue;
}

#filerequests{

  margin-top: 20px;
  width: 600px;
  /* width: 80rem; */
  background-color: #fff;
  background-color: #f7f7f7;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0 0 1px #000;
  -webkit-box-shadow: 0 0 1px #000;
  -moz-box-shadow: 0 0 1px #000;
}

#filerequests h1{

      font-size: 25px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    

}

#filerequests h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 10px;
  background: -moz-linear-gradient(left, rgba(147,184,189,0) 0%, rgba(147,184,189,0.8) 20%, rgba(147,184,189,1) 53%, rgba(147,184,189,0.8) 79%, rgba(147,184,189,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(147,184,189,0)), color-stop(20%,rgba(147,184,189,0.8)), color-stop(53%,rgba(147,184,189,1)), color-stop(79%,rgba(147,184,189,0.8)), color-stop(100%,rgba(147,184,189,0)));
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: -o-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: -ms-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);

}
#filerequests table th {
   font-size: 14px;
    color: rgb(6, 106, 117);
    padding: 6px 30px 0  4px;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    text-transform: uppercase;
}
#filerequests table th td{
  margin-top: 10px;
}

.view_files{
  margin-bottom: 10px;
}
.view_files a{
  border-radius: 4px;
  background-color: #1790cf;
    color: #DCEAF3;
    cursor: pointer;
  text-decoration: none;
     font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
     font-size: 20px;
     padding: 7px 14px;
         margin-left: 20px;
    width: 45%;
}

.view_files a:hover{
  background-color:#005383;
  color: #fff;
  transition:all  0.6s ease-out;
  -webkit-transition:all  0.6s ease-out;
  -moz-transition:all  0.6s ease-out;


}